<div class="container-fluid">
  <div class="row mt-5">
    <dx-data-grid class="w-75 mx-auto" [showBorders]="true" [dataSource]="dataSource">
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column dataField="orderStartDate" dataType="datetime" alignment="center"
                  caption="Начало аренды"></dxi-column>
      <dxi-column dataField="orderEndDate" dataType="datetime" alignment="center"
                  caption="Окончание аренды"></dxi-column>
      <dxi-column dataField="parking.address" caption="Адрес" dataType="text" alignment="center"></dxi-column>
      <dxi-column [width]="100" cellTemplate="editButtonTemplate" alignment="center"></dxi-column>
      <dxi-column [width]="100" cellTemplate="deleteButtonTemplate" alignment="center"></dxi-column>
      <div *dxTemplate="let eB of 'editButtonTemplate'">
        <dx-button [disabled]="!checkDate(eB)" (onClick)="editOrder(eB)" icon="edit"></dx-button>
      </div>
      <div *dxTemplate="let dB of 'deleteButtonTemplate'">
        <dx-button (onClick)="deleteOrder(dB)" icon="trash"></dx-button>
      </div>
    </dx-data-grid>
  </div>
</div>
<dx-popup [(visible)]="visiblePopup" [width]="400" [height]="400" [title]="titleText" (onHiding)="setDefault()">
  <dx-form [(formData)]="formData" (onFieldDataChanged)="setMinDate($event)">
    <dxi-item *ngIf="!disableStartDate" dataField="orderStartDate" editorType="dxDateBox"
              [label]="{text:'Начало аренды'}"
              [editorOptions]="{ value: null, width: '100%', type: 'datetime', showClearButton: 'true', useMaskBehavior: 'true', min: minDate}">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
    <dxi-item dataField="orderEndDate" type="datetime" editorType="dxDateBox"
              [label]="{text:'Окончание аренды'}"
              [editorOptions]="{ width: '100%', type: 'datetime', showClearButton: 'true', useMaskBehavior: 'true'}">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-item>
  </dx-form>
  <dx-button class="btn btn-outline-dark mt-4 col-12 justify-content-center" (onClick)="postOrder()" style="width: auto; height: auto"
             [text]="buttonText"></dx-button>
</dx-popup>
