<!--<div class="container-fluid">-->
<!--  <div class="row" style="margin-top: 100px">-->
<!--    <div class="col-8">-->
<!--      <div class="card border border-dark" style="height: 550px; width: 750px">-->
<!--        <div class="card-title mx-auto my-auto">-->
<!--          Карта парковок-->
<!--        </div>-->
<!--        <div class="card-body mx-auto my-auto" style="width: 700px">-->
<!--            <app-oms-view></app-oms-view>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <app-order-form></app-order-form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<H1>Welcome to ParkingApplication</H1>-->
