<div class="container-fluid">
  <div class="row" style="margin-top: 100px">
    <div class="col-8">
      <div class="card border border-dark" style="height: 550px; width: 750px">
        <div class="card-title mx-auto my-auto">
          Карта парковок
        </div>
        <div class="card-body mx-auto my-auto">
          <app-osm-view
            class="map"
            [center]="[3091239.69,7155754.11]"
            [zoom]="11.5"
            (mapReady)="onMapReady($event)"
          >
          </app-osm-view>
        </div>
      </div>
    </div>
    <div>
      <app-order-form></app-order-form>
    </div>
  </div>
</div>
